<%- include("../partials/header"); -%>
<div class="animation" id="anim"><p class="attripan attribute">Animation by <a class="attri-link" target="_blank" href="https://lottiefiles.com/animoox">Abdul Latif</a></p>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
  <script src="/js/anim.js"></script>
  <script src="/js/anim2.js"></script>
</body>
</html>
