<%- include("../partials/header"); -%>
    <img src="images/arrow.png" class="arrow" alt="arrow">
    <div id="anim2" class="animation bottomleftimg lsbtm"><p class="attribute atrri">Animation by <a target="_blank" class="attri-link" href="https://lottiefiles.com/uxanimation">UX animation</a> </p></div>

    <img src="images/flower.png" class="spoonsimg rsbtm" alt="flower">
    <div class="recipe-parent">
      <div class="form-group rresult">
        <textarea readonly class="form-control textareastyle" id="result" rows="19"><%=resultContent%></textarea>
        <a href="/"><button type="button" id="gobackbtn" class="style-box sb" onclick="">Go Back</button></a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
      <script src="/js/anim2.js"></script>
    </body>
</html>
